# Dependency directories
node_modules/
.venv/
env/
venv/
ENV/
bin/
lib/
share/
Include/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.tox/
.nox/

# System Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
PoseTrack/outputs/
*.log

# Unity
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
[Uu]ser[Ss]ettings/
Packages/
ProjectSettings/
*.inputactions
*.wlt
*.asset
*.prefab
*.controller
Packages/
*.unitypackage

# MediaPipePose specific to keep
!PoseTrack/Unity/PoseTrackReceiver/*.cs
!Unity/UnityMedia/Assets/X Bot.fbx
!Unity/UnityMedia/Assets/Scenes/SampleScene.unity
!Unity/UnityMedia/Assets/Scripts/*.cs
!Unity/UnityMedia/Assets/TutorialInfo/Scripts/*.cs
